.m-card{
    width:460px;
    .pa;
    .lt(50%,200px);
    transform: translate(-50%,0);
}
.box-card{
    padding:20px;
}
@media screen and (max-width:@ipad){
    .m-card{
        top:50%;
        transform:translate(-50%,-50%);
    }
}
@media screen and (max-width:@phone){
    .m-card{
        .lt(0);
        transform:translate(0,0);
        .w(100%);
        .h(100%);
        .box-card{
            .full;
            box-sizing: border-box;
        }
    }
    .m-bottom{
        .none;
    }
}
.m-header{
    a{
        .db;
    }

    .u-logo{
        .db;.auto(x);
        .size(88px);
    }
    // .u-title{
    //     .fz(24px);
    //     .x;
    //     font-weight:300;
    //     letter-spacing:30px;
    //     padding-left:30px;
    // }

    .el-divider__text{
        .fz(12px) !important;
        color:#999 !important;
    }
}
.m-main{

    // 输入框
    .u-text{
        margin-bottom:10px;
    }
    .u-ok {
        .pa;
        .rt(10px, 12px);
        color: #67c23a;
    }
    .u-email{
        .i-mail{
            .w(16px);
            .mt(4px);
            fill:#909399;
        }
        .el-input__inner{
            padding-right:40px;
        }
        .pr;
    }
    .u-pass{
        .i-pass{
            .w(16px);
            .mt(4px);
            fill:#909399;
        }
    }
    .u-code {
        .i-code {
            .w(16px);
            .mt(4px);
            fill: #909399;
        }
        .el-input__inner {
            padding-right: 40px;
        }
        .pr;
    }

    // 提示
    .u-tip{
        .fz(12px);
    }
    .el-alert{
        .mb(10px);
    }


    // 按钮
    .u-button{
        .w(100%);
    }
    .u-submit{
        letter-spacing:30px;
        span{
            padding-left:30px;
        }
    }
    .u-skip{
        a{color:#fff;}
    }
}